* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

footer {
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;

}

#root>main {
    flex-grow: 1;

}

#root>main,
#root>header,
#root>footer {
    padding: 1rem;
}

#root>header,
footer {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px;
    height: 150px;
    padding: 50px;

}

#root>footer {
    margin-top: 20px;
}

.contador {
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: solid, 3px;
    text-align: center;
    align-items: center;

    &__nombre {
        padding-bottom: 5px;
        color: rgb(41, 16, 16);
    }

    img {
        width: 300px;
    }

    p {
        color: #2372b7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.contador__imagenes {
    padding: 1rem;
    margin: 3rem;
    border: 1px solid black;
    align-items: center;

}

.nav {
    display: flex;

    &__list {
        display: flex;
        list-style: none;
        text-decoration: none;
        flex-direction: row;
        font-size: 20px;

        &--link {
            color: red;
            padding: 5px;
            margin: 5px;
        }
    }

}

.imgCarrosuel {
    width: 100%;
    height: 300px;
    padding-top: 2px;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.carrito {
    color: rgb(90, 80, 159);
    padding: 5px;
    margin: 2px;
    font-size: 30px;
}

@media (max-width: 600px) {
    .imgCarrosuel {
        padding: 0;
    }
}

.botonEstilo {
    color: #363670;
    font-size: 13px;
    padding: 13px;
    margin: 7px;
}

.producto {
    font-size: 20px;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 10px;
}

.card__texto {
    text-align: start;

    li {
        color: #2372b7;
    }


}

.finalizarCompra {
    text-align: center;

}

.card__precio {
    p {
        color: #060a1e;
        font-size: 30px;
        font-style: oblique;
    }
}

.imagenCarritoItem {
    width: 100px;
    height: 100px;
}

.totalProductos {
    font-size: 20px;
    color: #c95959;
    text-align: center;

    button {
        padding: 10px;
        margin: 10px;
    }
}

.card {
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border-radius: 3px;
    text-align: center;

    &__imagen {
        display: flex;
    }

    &__VerMas {
        color: rgb(225, 255, 0);

    }

    &__nombre {
        padding-bottom: 5px;
        color: rgb(41, 16, 16);
    }

    img {
        width: 260px;
        height: 250px;
    }

    &:hover {
        transform: scale(1.1);
    }

    a {
        text-decoration: none;
        color: rgb(237 237 237);
        padding: 5px;

    }
}